// TODO: split scss into multiple files according to components

@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="button"], input[type="submit"], button, select, summary {
  cursor: pointer;
}

/* スタイルここから */
$accent-color:  rgb(255, 196, 0);
$base-color: lemonchiffon;
$orange: #E48E00;
$post-blue: #DDF7FD;
$post-pink: #FDDDFA;
$post-yellow: #F8FAC4;

body {
  background-color: $base-color;
}

canvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.header {
  display: grid;
  align-content: center;
  justify-content: center;

  height: 63px;

  color: #D98032;
  background: $accent-color;

  font-family: Modak;
  font-size: 30px;
  line-height: 45px;

  grid-template-columns: repeat(3, 1fr);

  * {
    display: grid;
    justify-content: center;
  }

  img {
    width: 46px;
    height: 46px;
  }
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;

  display: grid;
  align-content: center;
  justify-content: center;

  height: 63px;

  background: $accent-color;

  grid-template-columns: repeat(4, 1fr);

  a {
    display: grid;
    justify-content: center;
  }

  img {
    width: 46px;
    height: 46px;
  }
}

.set-font-link {
  position: fixed;
  z-index: 100;
  right: 1em;
  bottom: calc(63px + 1em);

  display: grid;
  align-content: center;
  justify-content: center;

  width: 63px;
  height: 63px;

  border-radius: 50%;
  background: #D98032;

  img {
    width: 46px;
    height: 46px;
  }
}

.post-card {
  width: 400px;
  max-width: 90%;
  height: auto;
  min-height: 150px;
  margin: 0 auto;

  background-color: $post-blue;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);

  p{
    display: block;
  }
}

.post-card:nth-last-child(2n) {
  background-color: $post-blue;
}

.box-container {
  flex-direction: column;

  width: 100%;
  margin: 35px auto 10px;
}

.m3 {
  display: flex;
}

.name-tag {

}

.load-icon {
  width: 80%;
  margin: auto 0;
}

.profile-icon {
  width: 50px;
  
  margin-top: 10px;
  margin-bottom: 10px;

}

.profile-container{
  padding: 10px;
  
}

.posts-container {
  margin: 20px;

  .post-card {
    width: 300px;
    height: 150px;
  }
}

.grid {
  display: grid;

  gap: 10px;
  grid-template-columns: 2fr 1fr;
}

.follow-container {
  display: flex;
  p{
    font-size: x-small;
    display: inline-block;
    margin: auto 10px;
  }

  p:first-child{
    margin-left: 0;
  }
}

.tags {
  margin: 10px auto;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

.tegaki-model {
  text-align: center;
  pointer-events: none;

  color: rgba(126, 126, 126, 0.1);

  font-family: 'Noto Sans JP', sans-serif;
  font-size: 400px;
  line-height: 0.9;
}

.likeButton {
  color: rgb(231, 76, 60);
}