// TODO: split scss into multiple files according to components

@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="button"], input[type="submit"], button, select, summary {
  cursor: pointer;
}

/* スタイルここから */
$accent-color:  rgb(255, 196, 0);
$base-color: lemonchiffon;
$orange: #E48E00;
$post-blue: #DDF7FD;
$post-pink: #FDDDFA;
$post-yellow: #F8FAC4;

body {
  background-color: $base-color;
}

canvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.header {
  z-index: 10;

  color: white;
  background: $accent-color;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;

  height: 50px;

  text-align: center;

  background: $accent-color;

  font-size: 20px;

  img {
    display: inline-block;

    margin: 10px;
  }
}

.post-card {
  width: 400px;
  max-width: 90%;
  height: 150px;
  margin: 0 auto;

  background-color: $post-blue;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);

  p{
    display: block;
  }
}

.post-card:nth-last-child(2n) {
  background-color: $post-blue;
}

.box-container::after {
  position: relative;
  bottom: 175px;
  left: 48%;

  display: inline-block;

  width: 30px;
  height: 50px;

  content: " ";
  transform: rotate(18deg);

  border: solid 1px #282c34;
  background-color: rgba(255,255,255,0.3);

}
.box-container {
  flex-direction: column;

  width: 100%;
  margin: 35px auto 10px;
}

.m3 {
  display: flex;
}

.name-tag {

}

.load-icon {
  width: 80%;
  margin: auto 0;
}

.profile-icon {
  width: 50px;
}

.profile-container{
  padding: 10px;

  background-image: url('./assets/paper.jpg');
}

.posts-container {
  margin: 20px;

  .post-card {
    width: 300px;
    height: 150px;
  }
}

.grid {
  display: grid;

  gap: 10px;
  grid-template-columns: 2fr 1fr;
}

.follow-container {
  p{
    display: inline-block;

    margin: auto 10px;
  }

  p:first-child{
    margin-left: 0;
  }
}

.tags {
  margin: 10px auto;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

.tegaki-model {
  text-align: center;
  pointer-events: none;

  color: rgba(126, 126, 126, 0.1);

  font-family: 'Noto Sans JP', sans-serif;
  font-size: 400px;
  line-height: 0.9;
}
