@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="button"], input[type="submit"], button, select, summary {
	cursor: pointer;
}
/* スタイルここから */

$accent-color:  rgb(255, 196, 0);
$base-color: lemonchiffon;

body {
	background-color: $base-color;
}
canvas {
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}
.header {
	background: $accent-color;
	color: white;
}
.footer {
	background: $accent-color;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	text-align: center;
	font-size: 20px;
	img {
		display: inline-block;
		margin: 10px;
	}
}
